@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

body {
  font-family: 'Abril Fatface', arial;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  font-size: 1em;
}

h1 {
  font-family: 'Abril Fatface', arial;
  color: rgba(0, 0, 0, .45);
  font-size: 3em;
  margin: 0;
}

div#main {
  background-color: rgba(255, 255, 255, .4);
  padding: 15px;
  border-radius: 20px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  max-width: 80%;
  margin: 0 auto;
}

#number, .large {
  font-size: 6em;
}

#number {
  margin: 0;
  color: black;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
}

input, button {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  font-family: 'Abril Fatface', arial;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  text-align: center;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

input {
  padding: 5px;
  font-size: 1.5em;
}

button {
  margin: 0 15px;
}

button:hover {
  background-color: white;
  cursor: pointer;
}